body{
    margin: 0%;
    padding: 0%;
    background: #FFF;

}
input{
    display: none;
}
#container{
    padding-top: 25vh;
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". toggle .";
}
#switcher{
    grid-area: toggle;
}
.switcherLabel{
    display: inline-block;
    position: relative;
    width: 180px;
    height: 70px;
}
.background{
  border-radius: 40px;
  position: absolute;
  width: 170px;
  height: 60px;
  z-index: 1;
  top: 5px;
  left: 5px;
  background-image: linear-gradient(to right, #ff4e50, #de4848);
  border: solid 3px #F7CE5A;
}
.background:before{
 position: absolute;
 content: "";
 width: 55px;
 height: 45px;
 left: 6px;
 border-radius: 40px;
 bottom: 8px;
 background: #fff;
 transition-timing-function: ease-in-out;
 transition-duration: .7s;
}
input:checked + .background{
    background-image: linear-gradient(to right, #7bcf87, #84d67e, #8fde73, #9ee466, #aeea57);
}
input:checked + .background:before{
    transform: translateX(103px);
}